- name: Github Init Playbook
  gather_facts: no
  hosts: localhost
  vars:
      source_key: "ssh/id_rsa"
      dest_key: "{{ lookup('env', 'HOME') }}/.ssh/id_rsa"
      source_file: "gpg/gnupg-backup.zip"
      dest_file: "gpg/gnupg.zip"

  tasks:
    
    - name: 3] git user.email
      git_config:
        name: user.email
        scope: global
        value: "curelesss@gmail.com"
      tags:
        - git
        - github
        - termux
        - ubuntu
        - macos
        - arch
        - wsl

    - name: 3] git user.name
      git_config:
        name: user.name
        scope: global
        value: "curelesss"
      tags:
        - git
        - github
        - termux
        - ubuntu
        - macos
        - arch
        - wsl

    - name: 3] Ensure .ssh directory exists
      file:
        dest: "{{ dest_key | dirname }}"
        mode: 0700
        state: directory
      tags:
        - ssh
        - github
        - termux
        - ubuntu
        - macos
        - arch
        - wsl

    - name: 3] Install ssh key
      copy:
        src: "{{ source_key }}"
        dest: "{{ dest_key }}"
        mode: 0600
      tags:
        - ssh
        - github
        - termux
        - ubuntu
        - macos
        - arch
        - wsl

    - name: check ~/.gnupg exists
      stat:
        path: ~/.gnupg
      register: gnupg_dir
      tags:
        - gpg

    - name: 333333] Install gpg key
      copy:
        src: "{{ source_file }}"
        dest: "{{ dest_file }}"
        mode: 0600
      when: not gnupg_dir.stat.exists
      tags:
        - gpg

    - name: ~/.gnupg does not exist，create it
      file:
        path: ~/.gnupg
        state: directory
        mode: '0700'
      when: not gnupg_dir.stat.exists
      tags:
        - gpg

    - name: unzip decrypted gnupg.zip
      unarchive:
        src: gpg/gnupg.zip
        dest: ~/.gnupg                  # 直接解到 ~/.gnupg 目录里
        remote_src: true
        creates: ~/.gnupg/pubring.kbx # 防止重复解压
      when: not gnupg_dir.stat.exists
      tags:
        - gpg

    - name: fix permissions
      command: chmod -R u=rwX,go= ~/.gnupg
      when: not gnupg_dir.stat.exists
      tags:
        - gpg

    - name: delete decrypted gnupg.zip
      file:
        path: gpg/gnupg.zip
        state: absent
      tags:
        - gpg

    - name: Install gnupg
      become: yes
      pacman:
        name: gnupg
        state: present
      tags:
        - pass


    - name: Install pass
      become: yes
      pacman:
        name: pass
        state: present
      tags:
        - pass

    - name: 3] Install git config
      ansible.builtin.command:
        cmd: cp ssh/config "{{ lookup('env', 'HOME') }}/.ssh/"
      tags:
        - ssh
        - github
        - termux
        - ubuntu
        - macos
        - arch
        - wsl

    - name: 3] Install openssh
      become: yes
      pacman:
        name: openssh
        state: present
      tags:
        - ssh
        - github
        - arch

    - name: 3] Install openssh - termux
      command: pkg install openssh -y
      tags:
        - termux

    - name: 4] Install GNU Stow
      become: yes
      pacman:
        name: stow
        state: present
      tags:
        - arch

    - name: 4] check dotfile directory
      stat:
        path: "~/dotfiles"
      register: dotfiles_dir
      tags:
        - dotfiles
        - termux

    - name: 4] clone dotfiles
      git:
        repo: "git@github.com:curelesss/dotfiles.git"
        dest: "~/dotfiles"
      when: not dotfiles_dir.stat.exists
      tags:
        - dotfiles
        - termux

    - name: 4-1] check .init.arch directory
      stat:
        path: "~/.init.arch"
      register: arch_dir
      tags:
        - .init.arch

    - name: 4-1] clone .init.arch repo
      git:
        repo: "git@github.com:curelesss/.init.arch.git"
        dest: "~/.init.arch"
      when: not arch_dir.stat.exists
      tags:
        - .init.arch

    - name: 5] check .init.ubuntu directory
      stat:
        path: "~/.init.ubuntu"
      register: init_ubuntu_dir
      tags:
        - .init.ubuntu

    - name: 5] clone .init.ubuntu
      git:
        repo: "git@github.com:curelesss/.init.ubuntu.git"
        dest: "~/.init.ubuntu"
      when: not init_ubuntu_dir.stat.exists
      tags:
        - .init.ubuntu
